* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #b8ddf9;
  font-family: sans-serif;
  outline: none;
}

#title {
  text-align: center;
  font-family: sans-serif;
  font-size: 20px;
  margin-top: 1rem;
}

.container {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.calculator {
  background-color: #ecf0f3;
  padding: 15px;
  border-radius: 15px;
  display: grid;
  grid-template-columns: repeat(4, 70px);
}

input {
  grid-column: span 4;
  height: 70px;
  width: 260px;
  background-color: #ecf0f3;
  border: 1px solid;
  border-radius: 15px;
  color: black;
  font-size: 40px;
  text-align: end;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 30px;
  padding: 20px;
}

#clear {
  background-color: #f82a2a;
  color: aliceblue;
}

button {
  height: 48px;
  width: 48px;
  background-color: #a7c5ff;
  border: none;
  border-radius: 20%;
  margin: 8px;
  font-size: 18px;
  font-weight: bold;
}

.bg-color {
  background-color: #c1f3fa;
}

#equal {
  width: 120px;
  border-radius: 15px;
}

#description {
  font-size: large;
  color: red;
  margin-top: 5px;
  margin-bottom: 10px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3 {
  font-size: x-large;
  margin-top: 5px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
